---
import LayoutPag from "../layouts/Layout-pag.astro";
---

<LayoutPag title="Boku no Coffee | Productos">
    <main>
        <h1>Productos</h1>
    </main>
</LayoutPag>

<style>
    main{
        width: 100%;
        height: 120vh;
        margin-top: 150px;
        display: flex;
        justify-content: center;
    }
</style>