---
import Layout from "../layouts/Layout.astro"
import Logo from "../img/logotipo.png"
---

<Layout title="Registrarse">
    <main>
        <form action="" method="post">
            <fieldset>
                <a href="/"><img src={Logo.src} alt="logotipo"></a>
                <h1>Registrarse</h1>
                <label for="name">Nombre</label>
                <input type="text" name="name">
                <label for="ape">Apellidos</label>
                <input type="text" name="ape">
                <label for="mail">Correo electrónico</label>
                <input type="email" id="mail" required>  
                <label for="contraseña">Contraseña</label>
                <input type="password" id="contraseña" required>
                <button type="submit">Registrarse</button>
                <div id="enlaces">
                    <a href="/reset"><p>He olvidado mi contraseña</p></a>
                </div>
            </fieldset>
        </form>
    </main>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

    main{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 98vh;
    }

    form{
        position: relative;
        width: 45%;
        height: 25%;
        top: 15%;
    }

    fieldset{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        border-radius: 25px;
        border: none;
        text-align: center;
        border: 1px solid violet;
        outline: none;
        font-weight: 300;
        background: #902576;
        color: #fff;
        font-family: "Rajdhani", sans-serif;
        font-size: 1.5em;
        padding: 50px 10px 25% 48px;
        animation: parpadeo 3s ease infinite;
    }

    @keyframes parpadeo{
        0%{
            box-shadow: none;
        }
        50%{
            box-shadow: -5px -5px 15px #f08ae3, 5px 5px 15px #f08ae3;
        }
        100%{
            box-shadow: none;
        }
    }

    fieldset h1{
        margin-top: 25%;
    }

    fieldset img{
        width: 25%;
        position: absolute;
        top: -14vh;
        left: 37vh;
        transition: all 0.5s ease-in;
    }

    fieldset img:hover{
        scale: 1.2;
        rotate: -10deg;
    }

    fieldset label{
        text-transform: uppercase;
        font-weight: 200;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    fieldset input{
        text-align: center;
        width: 75%;
        margin-left: 10%;
        padding: 15px;
        border-radius: 25px;
        border: none;
    }

    fieldset button{
        background: linear-gradient(to bottom, #f08ae3, #5ac2a3 50%);
        width: 15%;
        padding: 10px;
        border-radius: 10px;
        margin-left: 37vh;
        margin-top: 20px;
        font-weight: bold;
        color: #fff;
        font-size: 0.7em;
        border: none;
    }

    fieldset button:hover{
        scale: 1.1;
        cursor: grab;
    }

    #enlaces{
        display: flex;
        justify-content: center;
    }

    #enlaces a{
        color: #fff;
        font-size: 0.7em;
        margin: 25px;
        text-decoration: none;
        transition: all 0.2s ease-in;
    }

    #enlaces a:hover{
        scale: 1.1;
        text-decoration: underline;
        font-weight: bold;
    }

    @media (width < 1500px){
        fieldset{
            padding: 50px 10px 25% 48px;
            font-size: 1.2em;
        }

        fieldset img{
            top: -13vh;
            left: 34vh;
        }

        fieldset input{
            margin-left: 8%;
        }

        fieldset button{
            margin-left: 30vh;
        }
    }

    @media (width < 1300px){
        fieldset{
            padding: 50px 10px 25% 48px;
            font-size: 1em;
        }

        fieldset img{
            top: -13vh;
        }

        fieldset button{
            width: 20%;
            margin-left: 28vh;
        }
    }

    @media (width < 1100px){
        fieldset{
            height: 40vh;
            font-weight: 100;
            font-size: 1em;
            padding: 25% 10px 25% 50px;         
        }
        
        fieldset h1{
            margin-top: 70vh;
            margin-bottom: -2px;
        }

        fieldset img{
            top: -12vh;
            left: 35vh;
        }

        fieldset input{
            padding: 7px;
            margin-top: -10px;
        }

        #enlaces{
            margin-right: 28px;
            margin-bottom: 60vh;
            margin-top: -20px;
        }
    }

    @media (width < 900px){
        #enlaces{
            margin-top: -25px;
        }
        
        fieldset input{
            margin-top: -12px;
        }
    }

    @media (width < 800px){
        fieldset h1{
            margin-top: 65vh;
            margin-bottom: 20px;
        }        

        fieldset img{
            width: 40%;
            margin-left: -19vh;
            margin-top: 4vh;
        }

        fieldset input{
            margin-top: -2px;
        }

        fieldset button{
            margin: 3vh 12vh 3vh 12vh;
            width: 25%;
        }
    }

    @media (width < 500px){
        form{
            width: 75%;
            margin-right: 8vh;
        }

        fieldset img{
            margin-top: 2vh;
            margin-left: -17vh;
        }

        fieldset button{
            margin: 3vh 14vh;
        }

        #enlaces{
            margin-right: 3vh;
            font-size: small;
        }
    }

    @media (width < 450px){
        form{
            width: 75%;
            margin-right: 11.5vh;
        }

        fieldset h1{
            margin-top: 70vh;
        }

        fieldset img{
            margin-top: 4.5vh;
        }

        fieldset input{
            margin-top: -3%;
        }

        #enlaces{
            font-size: medium;
            padding-bottom: 8%;
        }
    }

    @media (width < 400px){
        fieldset h1{
            margin-top: 75vh;
        }

        fieldset img{
            margin-top: 2.5vh;
        }

        #enlaces{
            padding-bottom: 27%;
        }
    }
</style>